body {
  padding-top: 20px;
  padding-bottom: 20px;
}

label {
	font-size: 15px;
}
.fullscreen{
	width: 95vw;
	border:2px solid white;
}

a{
	text-decoration:none;
}
.title{
	font-family: "Courier New";
	font-size: 28px;
}

.buttonHolder{
	text-align:left;
}
.header,
.footer {
  padding-right: 15px;
  padding-left: 15px;
}

.header {
  padding-bottom: 20px;
  border-bottom: 1px solid #e5e5e5;
}

.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
}
.regform {
	margin: 0 auto;
}

#paper1{
	width:700px;
}


/* Print layout */
@media print {
	.footer {
		visibility:hidden;
	}
	.nav {
		visibility:hidden;
	}
	.title{
		visibility:hidden;
	}
}

.footer {
  max-width:730px;
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

@media (min-width: 1024px) {
  .container {
    max-width: 730px;
  }
  .buttonHolder{
	text-align:center;
	}
}

.splash {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.splash .btn {
  padding: 14px 24px;
  font-size: 21px;
}


@media screen and (min-width: 768px) {
  .header,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
  .header {
    margin-bottom: 30px;
  }
  .splash {
    border-bottom: 0;
  }
}
